@font-face {
    font-family: "HelveticaNeueBold";
    src: url('./HelveticaNeue-Bold.otf');
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url('./HelveticaNeue-Light.otf');
}

@font-face {
    font-family: "HelveticaNeue";
    src: url('./HelveticaNeue.otf');
}

html{
    font-size: 62.5%;
}

body{
    font-family: "HelveticaNeueBold";
    margin: 0;
    color: white;
    font-weight: 500;
}

#menu{
    position: fixed;
    left:0;
    z-index: 99;
    font-size: 1.6rem;
    list-style: none;
    padding-left: 5rem;
}
#menu h1 {
    margin-bottom: 1.5rem;
}
#menu ul{
    padding-left: 0rem;
    padding-bottom: 1rem;
}
#sub-menu div {
    padding-bottom: 1rem;
}
.sub-menu div {
    padding-bottom: 0;
}

#menu li{
    font-size: 1.5rem;
    border-left: 0.2rem #fff solid;
    padding: 1rem 1.5rem;
    padding-bottom: 1rem;
    list-style: none;
    font-size: 1.5rem;
}

.fp-tableCell p {
    font-size: 2.5rem;
}

.fp-tableCell h2 {
    font-size: 3.5rem;
    margin-top: 30px;
    margin-bottom: 80px;
}

.fp-tableCell div {
    margin-bottom: 100px;
}

.fp-tableCell img {
    width: 300px;
}
a:link, a:visited{
    color: white;
    text-decoration: none;
}

.section {
    text-align: center;
}

.section p {
    text-align: center;
    font-family: "HelveticaNeueLight";
}